# All values have working defaults except SIMKL_CLIENT_ID.
PORT=3000
REFRESH_MINUTES=30
BACKLOGGD_USERNAME=skychopath
KITSU_SLUG=skyhong2002
KITSU_USER_ID=1366093
STATSFM_USERNAME=skyhong2002
SIMKL_USER_ID=8074923
# Create an app at https://simkl.com/settings/developer/ and paste the Client ID:
SIMKL_CLIENT_ID=
